.LogoSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoSearch > i {
  font-size: 2.4rem;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
}

.s-icon {
  display: flex;
  place-items: center;
  background: var(--buttonBg);
  border-radius: 5px;
  padding: 4px;
  color: white;
  cursor: pointer;
}